.bgDescriptionHero{
    /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets//fondoGaleria.webp) ; */
    background: linear-gradient(100deg, #8a5e04ac 0%, rgba(225,225,225,0.04) 97%), url(../assets//fondoGaleria.webp) ;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 70vh;
}

.transparentBg{
    background-color: rgba(225,225,225,0.4);
    padding: 10px;
}